/* App.css */
.navbar {
  background-color: #333;
  padding: 10px 0;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 0px 15px;

}

.nav-item {
  margin-right: 20px;
}


.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}